
<h1><%= @user.full_name %></h1><br>

<div class="list-container">
  <div class="user-instructors">
    <h2>Instructors:</h2><br>
    <ul>
      <% @user.instructors.each do |instructor| %>
        <li><%= instructor.name %></li><br>
      <% end %>
    </ul>
  </div>

  <div class="activity-list">
    <h2>Activities:</h2><br>
    <ul>
      <% @user.activities.each do |activity| %>
        <li><%= activity.name %></li>
      <% end %>
    </ul>
  </div>
</div>
