
<div class="homescreen">
  <div class="homescreen-video">
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/vvfgkO4gPbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="homepage-title">
    <h1>Welcome to PowPow!</h1>
  </div>
  <div class="homepage-body">
    <p>
      If you are interested in an activity, please visit your profile to sign up for a time.
      We have experienced instructors on call for visitors who are learning for the first time.
      Please visit the pricing tab to see our current rates.
    </p>
  </div>
</div>


