
<div class="homescreen">
  <div class="homescreen-video">
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/vvfgkO4gPbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="homepage-title">
    <h1>Welcome to PowPow!</h1>
  </div>
  <div class="homepage-body">
    <p>If you are interested in an activity, please visit the schedule tab to sign up for an activity and time.</p>
    <p>You can check out the instructors tab to see our instructors.</p>
    <p>Please visit the pricing tab to see our current rates.</p>
    <p>Go to your profile to see your instructors and activities you signed up for.</p>
  </div>
</div>


