

<table class="table">
  <thead>
    <tr>
      <th scope="col">Lesson Type</th>
      <th scope="col">Price</th>
      <th scope="col">Schedule</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Private</th>
      <td>$175</td>
      <td>10am - 2pm</td>
      <td>50 min</td>
    </tr>
    <tr>
      <th scope="row">Semi-private</th>
      <td>$110</td>
      <td>10am - 2pm</td>
      <td>50 min</td>
    </tr>
    <tr>
      <th scope="row">Group</th>
      <td>$65</td>
      <td>9am - 2pm</td>
      <td>50 min</td>
    </tr>
  </tbody>
</table>