<h1>Prices</h1>

<table class="price-table">
  <thead>
    <tr>
      <th scope="col"><h2>Lesson Type</h2></th>
      <th scope="col"><h2>Price</h2></th>
      <th scope="col"><h2>Schedule</h2></th>
      <th scope="col"><h2>Duration</h2></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr>
      <th scope="row">Private</th>
      <td>$175</td>
      <td>10am - 2pm</td>
      <td>50 min</td>
    </tr>
    <tr>
      <th scope="row">Semi-private</th>
      <td>$110</td>
      <td>10am - 2pm</td>
      <td>50 min</td>
    </tr>
    <tr>
      <th scope="row">Group</th>
      <td>$65</td>
      <td>9am - 2pm</td>
      <td>50 min</td>
    </tr>
  </tbody>
</table>
<p class="sidenote">*Please note no refunds and times an availability are subject to change. Peak pricing applies during blackout/holiday event dates.</p>