/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
  width: 100%;
  position: absolute;
  top: 0;
  
  }

  body {
    /* The image used */
    background-image: image-url("GettyImages-469835930_high.jpeg");
    // background-size: 2000px 1000px; 
    // background-repeat: no-repeat;
    /* Add the blur effect */
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    // backdrop-filter: blur(8px);
  }

  .navbar-brand {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 40px;
  }

  
  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }
  
  .price-table {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }