// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

.homescreen {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.table {
  margin-top: 40px;
  color: white;
}

.table-header {
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
}

.homescreen-video {
  position: absolute;
}

.homepage-title {
  position: relative;
  display: inline-block;
}

.homepage-body {
  padding-top: 40px;
  position: relative;
}

