<table class="table">
  <thead>
    <tr>
      <th class="table-header" colspan="4"><strong>Schedule</strong></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.user_full_name %></td>
        <td><%= activity.name %></td>
        <td><%= activity.instructor.name %></td>
        <td><%= activity.lesson_time.strftime("%B %d, %Y at %-l%P") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
